/*----------- Services--------------*/
.services .services-item {
    width: 50%;
    float: left;
}

.services-item .section-header {
    text-align: left;
}

.services-item .section-line {
    margin: 0 0 40px 0;
}

.services-item .services-item-desc {
    padding-right: 20px;
    line-height: 1.6;
    color: #999;
    font-size: 17px;
    margin-bottom: 20px;
}

.services-item .services-list {
    list-style: none;
}

.services-item .services-list li {
    margin-bottom: 10px;
    color: #999;
}

.services-item .services-list li i {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
    margin-right: 3px;
}

.services-item .services-item-image img {
    width: 100%;
}

.services-item .services-item-bollets {
    list-style: none;
    text-align: center;
}

.services-item-bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}

.services-item-bollets li.active {
    width: 20px;
    border-radius: 35%;
    background-color: var(--mainColor);
}

.services-item-bollets li:hover {
    background-color: var(--mainColor);
    cursor: pointer;
}

